* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eff0f1;
}
.img-header {
  display: block;
  margin-top: 20px;
  margin-left: 470px;
}
.form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
  background-color: #ffff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}
.form h1 {
  font-family: "Segoe UI";
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.form-label {
  font-family: "Segoe UI";
  font-size: 18px;
}
.form-input {
  width: 100%;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  font-size: 15px;
  color: #252121;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #d61c6c;
  border-radius: 50px;
}
.form-input:focus {
  outline: none;
  border-radius: 50px;
}
.ckeckbox {
  padding-top: 2px;
  font-family: "Segoe UI";
  font-size: 14px;
}
.form-submit {
  width: 30%;
  font-size: 17px;
  text-align: center;
  border-radius: 50px;
  font-family: "Segoe UI";
  background-color: #d61c6c;
  color: white;
  padding: 10px 20px;
  margin: auto;
  display: block;
  cursor: pointer;
  border: none;
}
.form-login p {
  font-family: "Segoe UI";
  text-align: center;
  margin-top: 20px;
  color: gray;
}
