* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    227deg,
    #d61c6c,
    #344059,
    #00dbff,
    #d61c6c,
    #344059,
    #00dbff,
    #d61c6c
  );
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

main {
  position: relative;
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

/* ----- FORMULARIO ----- */
.formulario {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  height: auto;
  border-radius: 30px;
  background-color: #ffff;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
.formulario h1 {
  font-family: "Segoe UI";
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
  color: #333;
}
.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  margin-top: 4px;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 18px;
  color: #787878;
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  background: #fff;
  border: 2px solid #d61c6c;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  margin-top: 3px;
  transition: 0.3s ease all;
  font-family: "Segoe UI";
}
.formulario__input::placeholder {
  color: #adadad;
}

.formulario__input:focus {
  border: 3px solid #d61c6c;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
  font-family: "Segoe UI";
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;
}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__btn {
  width: 50%;
  font-size: 17px;
  text-align: center;
  font-family: "Segoe UI";
  background: linear-gradient(120deg, #d61c6c, #344059, #d61c6c, #344059);
  background-size: 200%;
  color: white;
  padding: 10px 20px;
  margin: auto;
  margin-top: 40px;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 0.5s;
}

.formulario__btn:hover {
  background-position: right;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.formulario__mensaje-exito {
  text-align: center;
  font-size: 14px;
  font-family: "Segoe UI";
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/* ----- Estilos para Validacion ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/* ----- Mediaqueries ----- */

@media screen and (max-width: 800px) {
  .formulario {
    grid-template-columns: 1fr;
  }

  /*.formulario__grupo-terminos,*/
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: 1;
  }

  .formulario__btn {
    width: 100%;
  }
}
/* ----- Keyframes ----- */
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/* ----- FOOTER TEXT ----- */

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}
.footer-text {
  color: #333;
  font-family: "Segoe UI";
  font-size: 15px;
}
