/* ----- IR ARRIBA ----- */

.go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #a6033f;
  /*acá uso la variable "rojo"*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: 0.5s;
}

.go-top:hover {
  background-color: #a6033f;
  color: #fff;
  border: 2px solid #fff;
}

.go-top:hover span {
  color: var(--white);
}

.go-top>span {
  font-size: 30px;
  color: #a6033f;
}

/* ----- PAGINA ----- */

.jumbotron, .card-body, .container, .site-header {
  font-family: "Raleway", serif !important;
}

.site-header {
  position: relative;
  z-index: 10;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

#profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: auto;
  margin: auto;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #344059;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.site-header .container {
  margin-right: 40px;
  padding-top: 12px;
  width: 100%;
}

.site-header .container ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.icono-eMERCADO {
  display: flex;
  text-align: center;
  margin-left: -200px;
  margin-right: 50px;
}

.icono-eMERCADO img {
  font-size: 40px;
  background-color: transparent;
}

.icono-eMERCADO p {
  text-align: center;
  color: #fff;
  font-size: 22px;
  margin: 0;
  padding: 10px;
  margin-right: 180px;
}

.site-header .container ul li {
  list-style: none;
}

.site-header .container ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0px 30px;
  padding: 8px;
  color: #ffff;
  border-radius: 24px;
  transition: 0.3s;
  font-size: 16px;
}

.site-header .container ul li a.active {
  background-color: #a6033f;
  color: #fff;
}

.site-header .container ul li a:hover {
  background-color: #a6033f;
  color: #fff;
}

#user-a:hover {
  background-color: #a6033f;
  color: #fff;
}

#c-sesion {
  background-color: #a6033f;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  margin-top: 40px;
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card, a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.main {
  margin-top: 50px;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer p {
  color: cadetblue !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#a-footer {
  color: #fff !important;
}

#bg-footer {
  background-color: #344059 !important;
}

.product-search {
  width: 100%;
  display: flex;
  padding: 10px;
}

.input-search {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344059;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.input-search:focus {
  border: 2px solid #344059;
}

/* ----- PRODUCT-INFO ----- */

.container h2 {
  font-weight: bold;
  color: #343a40;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  color: #495057;
}

.controls-top i {
  font-size: 20px;
  color: #495057;
}

.seccion-comentarios {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  z-index: 5;
}

.v-comentarios, .v-preguntas {
  border: 1px solid #ced4da;
  padding: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.t-comentarios, .t-preguntas {
  margin-bottom: 7px;
}

#subtitle {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #344059;
}

#subtitle:hover {
  text-decoration: none;
  background-color: #ced4da;
  color: #343a40;
}

.info-relevante {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.descripcion {
  width: 59%;
}

.p-descripcion {
  width: 100%;
  font-size: 16px;
  text-align: justify;
  padding-right: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.1);
}

.precio {
  margin-left: 10px;
}

.saldo-ventas {
  margin-left: 10px;
}

.card-header {
  background-color: #F2F2F2;
}

.card-header:hover {
  background-color: #c7d1d9
}

.card-header span {
  font-size: 20px;
}

.card-header span:hover {
  font-size: 25px;
  color: #000;
}

#user-comment, #question-user {
  font-weight: 700;
  color: #495057
}

#starsOn {
  color: #F2CE1B;
}

#starsOff {
  color: #BFBFBF;
}

.p-comment {
  font-size: 20px;
  font-style: italic;
  color: #495057
}

.blockquote-footer {
  font-size: 13px;
}

#nuevo-comentario {
  width: 100%;
}

#form-comentario, #form-pregunta {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 600px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #495057;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

#form-comentario h3, #form-pregunta h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/*-- Iconos e input de Form. nuevo comentario --*/

.user-content, .date-content {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.fa-user-circle, .fa-calendar-alt {
  display: flex;
  align-self: center;
  font-size: 20px;
}

.fa-user-circle {
  margin-right: 5px;
}

.fa-calendar-alt {
  margin-right: 7px;
}

/*--  --*/

#comment-user, .comment-dateUser, #question-user {
  outline: none;
  width: 100%;
  text-indent: 5px;
  color: #495057;
}

#contenido {
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  text-indent: 5px;
  color: #495057;
  font-style: italic;
}

#contenido::placeholder {
  color: #A6A6A6;
}

.calification {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.calification p {
  margin-right: 10px;
}

#options {
  outline: none;
  height: 25px;
  color: #344059;
  font-size: 15px;
}

.btnFNcomment {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.btnFNcomment button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #ced4da;
}

.btnFNcomment button:hover {
  background-color: #344059;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

/* ----- GALERIA DE FOTOS ----- */

@media (min-width: 768px) {
  .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
  }
}

.carousel-multi-item-2 .card img {
  border-radius: 2px;
}

/* ----- SECCIÓN DE COMENTARIOS ----- */

.align-user {
  display: flex;
  align-self: center;
}