/* ----- IR ARRIBA ----- */
.go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #a6033f; /*acá uso la variable "rojo"*/
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: 0.5s;
}
.go-top:hover {
  background-color: #a6033f;
  color: #fff;
  border: 2px solid #fff;
}
.go-top:hover span {
  color: var(--white);
}

.go-top > span {
  font-size: 30px;
  color: #a6033f;
}

/* ----- PAGINA ----- */

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Raleway", serif !important;
}
.site-header {
  position: relative;
  z-index: 10;
}
.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

#profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: auto;
  margin: auto;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #344059;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.site-header .container {
  margin-right: 40px;
  padding-top: 12px;
  width: 100%;
}
.site-header .container ul {
  display: flex;
  width: 100%;
}
.site-header .container ul li {
  list-style: none;
}
.site-header .container ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0px 30px;
  padding: 8px;
  color: #ffff;
  border-radius: 24px;
  transition: 0.3s;
  font-size: 16px;
}
.site-header .container ul li a.active {
  background-color: #a6033f;
  color: #fff;
}
.site-header .container ul li a:hover {
  background-color: #a6033f;
  color: #fff;
}
#user-a:hover {
  background-color: #a6033f;
  color: #fff;
}
#c-sesion {
  background-color: #a6033f;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.alert {
  margin-top: 40px;
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.main {
  margin-top: 50px;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

footer p {
  color: cadetblue !important;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#a-footer {
  color: #fff !important;
}
#bg-footer {
  background-color: #344059 !important;
}
/*background-color: #c7d1d9;*/

.product-search {
  width: 100%;
  display: flex;
  padding: 10px;
}
.input-search {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #344059;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}
.input-search:focus {
  border: 2px solid #344059;
}
